# {{ ansible_managed }}
# Edit this file to override any configuration options specified in
# /usr/lib/docker-storage-setup/docker-storage-setup.
#
# For more details refer to "man docker-storage-setup"

{% if lvm %}
STORAGE_DRIVER=devicemapper
VG={{ docker_vgname }}
GROWPART=false
DATA_SIZE={{ docker_min_thinpool_lvsize }}G
AUTO_EXTEND_POOL=no
{% endif %}
